@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <RadzenDialog/>
    <RadzenNotification/>
    <RadzenContextMenu/>
    <RadzenTooltip/>
    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/devinstormharris/" target="_blank">Connect with me on LinkedIn!</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>